footer.footer
  .container
    .footer-menu 
      .footer-menu-item
        a.menu-home.active(href='/')
          span.icon.icon-home
      .footer-menu-item
        a.menu-search(href='#')
          span.icon.icon-search
      .footer-menu-item
        a.menu-recipe(href='#')
          span.icon.icon-recipe
      .footer-menu-item
        a.menu-profile(href='#')
          span.icon.icon-profile