nav#head-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header(data-member='')
      .nav-left-action 
        button#btn-logout
          span.icon.icon-arrow-back
        //button#btn-logout Logout  
      .nav-title eSee
      .nav-right-action
        button#btn-scan-qrcode
          span.icon.icon-qr-code