nav#head-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header(data-member='')
      .nav-left-action 
        button.btn-logout
          span.icon.icon-arrow-back
        button.btn-back
          span.icon.icon-arrow-back
        //button#btn-logout Logout  
      .nav-title eSee
      .nav-right-action
        #scan-item
          include scan-item.jade