nav#head-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .nav-left-action 
        button#btn-back
          span.icon.icon-arrow-back
      .nav-title eSee
      .nav-right-action
        button#btn-scan-qrcode
          span.icon.icon-qr-code