
.section-wrapper#promo
  .section-title
    span Promotion items
  .section-content
    .section-content-desc
      span Check the items on bargained price
    .swiper-container
      .swiper-wrapper
        .swiper-slide 
          .promo-content
            .promo-image(style='background-image: url(../images/pic-promo-3.png);')
            .promo-cat Fruits
            .promo-product
              span.promo-product-name Avocado
              span.promo-product-price $24
              span.promo-product-price-org $28
              span.promo-product-unit /ea
            .product-location
              a(href='#')
                span.icon.icon-location
        .swiper-slide 
          .promo-content
            .promo-image(style='background-image: url(../images/pic-promo-1.png);')
            .promo-cat Fresh meat
            .promo-product
              span.promo-product-name Kobe beef
              span.promo-product-price $50
              span.promo-product-price-org $80
              span.promo-product-unit /g
            .product-location
              a(href='#')
                span.icon.icon-location
        .swiper-slide 
          .promo-content
            .promo-image(style='background-image: url(../images/pic-promo-2.png);')
            .promo-cat Fruits
            .promo-product
              span.promo-product-name Fuji apple
              span.promo-product-price $12
              span.promo-product-price-org $18
              span.promo-product-unit /ea
            .product-location
              a(href='#')
                span.icon.icon-location
      .swiper-pagination