extends layout-init

block content
  include header.jade
  .container
    .container-wrapper
      #home-landing
        include home-landing.jade
      #product-item
        include product-item.jade
      #recipe-detail
        include recipe-detail.jade
      #loading-wrapper
        .loader
        .loader-text loading
  include footer.jade
