extends layout-init

block content
  div.header-logo
    span.logo 
  div.login-form
    fieldset
      .form-group
        label.col-form-label.sr-only(for="username") Login:
        .form-input.icon-login
          input#username.form-control(type='text', placeholder='Login')
      .form-group
        label.col-form-label.sr-only(for="password") Password:
        .form-input.icon-password
          input#password.form-control(type='password', placeholder='Password')
      
      .form-group.form-action
        button#login.btn.btn-primary Sign In
    
   