doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/swiper.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/swiper.min.js')
    script(src='/javascripts/main.js')