
#recipe-info
  .recipe-image
  .recipe-cat na
  .recipe-title 
    .title-name.recipe-detail-title  na
    span.btn-like
      span.icon.icon-like.color
      span.content na
  .recipe-serve
    span Number of serve: 
    span.content
.section-tab
  a.active.btn-recipe-in(href='#')
    span.recipe-details-item.time 
      span.icon.icon-time
      span.content na
    span.recipe-details-item.level
      span.icon.icon-level
      span.content na
  a.btn-recipe-engry(href='#', data-product-id='')
    span.recipe-details-item.kcal 
      span.icon.icon-kcal
      span.content na kcal
#recipe-ingredient-step
  .ingredient-list
    .ingredient-step-title 
      span.icon.icon-star
      span.content Ingredient
    .ingredient-content
  .step-list
    .ingredient-step-title
      span.icon.icon-instrustion
      span.content Direction
    .step-content
#recipe-nutrition-list
  .nutrition-list
    .ingredient-step-title 
      span.icon.icon-list
      span.content Nutrition
    .nutrition-content
