#recipe-title 
  .title-name.recipe-detail-title  na
#recipe-ingredient-list
  .ingredient-list
    .ingredient-item-title
    .ingredient-price
    a.ingredient-location
      span.icon.icon-location
    a.ingredient-check
      span.icon.icon-tick