.section-wrapper#recipe
  .section-title.sub-title
    span Featured recipes
  .section-content
    ul.recipe-list
      li.recipe-list-item
        .recipe-image(style='background-image: url(../images/pic-rec-01.png);')
        .recipe-cat Healthy
        .recipe-title 
          span.title-name Pasta Salad
          a.btn-like
            span.icon.icon-like.color
            span You & 134
        .recipe-details
          .recipe-details-item 
            span.icon.icon-time
            span 30mins
          .recipe-details-item
            span.icon.icon-level
            span easy
          .recipe-details-item 
            span.icon.icon-kcal
            span 400kcal
          .recipe-details-item
            span.icon.icon-price
            span $18
      li.recipe-list-item
        .recipe-image(style='background-image: url(../images/pic-rec-02.png);')
        .recipe-cat Dessert
        .recipe-title 
          span.title-name Pancake
          a.btn-like
            span.icon.icon-like.color
            span You & 134
        .recipe-details
          .recipe-details-item 
            span.icon.icon-time
            span 30mins
          .recipe-details-item
            span.icon.icon-level
            span easy
          .recipe-details-item 
            span.icon.icon-kcal
            span 400kcal
          .recipe-details-item
            span.icon.icon-price
            span $18
      li.recipe-list-item
        .recipe-image(style='background-image: url(../images/pic-rec-03.png);')
        .recipe-cat Main Dish
        .recipe-title 
          span.title-name Sour Cream Meat Tacos
          a.btn-like
            span.icon.icon-like.color
            span You & 134
        .recipe-details
          .recipe-details-item 
            span.icon.icon-time
            span 30mins
          .recipe-details-item
            span.icon.icon-level
            span easy
          .recipe-details-item 
            span.icon.icon-kcal
            span 400kcal
          .recipe-details-item
            span.icon.icon-price
            span $18