
#recipe-info
  .recipe-image
  .recipe-cat na
  .recipe-title 
    .title-name.btn-recipe-title  na
    span.btn-like
      span.icon.icon-like.color
      span.content na
  
.section-tab
  a.active.btn-recipe-in(href='#')
    span.recipe-details-item.time 
      span.icon.icon-time
      span.content na
    span.recipe-details-item.level
      span.icon.icon-level
      span.content na
  a.btn-recipe-engry(href='#', data-product-id='')
    span.recipe-details-item.kcal 
      span.icon.icon-kcal
      span.content na kcal
#recipe-ingredient-step
  .ingredient-list
    .ingredient-title 
      span.icon.icon-star
      span.content Ingredient
    .ingredient-content
  .step-list
#recipe-nutrition-list
