extends layout-init

block content
  include header.jade
  .container
    .member
      span Welcome, 
      span.member-name #{data} {session.loggedin}
    .section-wrapper#home-banner
      .section-title
        span Get recipes
      
      .section-content
        .section-content-desc
          span Scan the QR CODE of the item and get reommended RECIPE
        a.banner.qr-code
          span
    .section-wrapper#promo
      .section-title
        span Promotion items
      
      .section-content
        .section-content-desc
          span Check the items on bargained price
        .swiper-container
          .swiper-wrapper
            .swiper-slide 
              .promo-content
                .promo-image(style='background-image: url(../images/pic-promo-1.png);')
                .promo-cat Fresh meat
                .promo-product
                  span.promo-product-name Kobe beef
                  span.promo-product-price $50
                  span.promo-product-price-org $80
                  span.promo-product-unit /g
                .product-location
                  a(href='#')
                    span.icon.icon-location
            .swiper-slide 
              .promo-content
                .promo-image(style='background-image: url(../images/pic-promo-2.png);')
                .promo-cat Fruits
                .promo-product
                  span.promo-product-name Fuji apple
                  span.promo-product-price $12
                  span.promo-product-price-org $18
                  span.promo-product-unit /ea
                .product-location
                  a(href='#')
                    span.icon.icon-location
          .swiper-pagination
    .section-wrapper#recipe
      .section-title.sub-title
        span Featured recipes
      .section-content
        ul.recipe-list
          li.recipe-list-item
            .recipe-image(style='background-image: url(../images/pic-rec-01.png);')
            .recipe-cat Healthy
            .recipe-title 
              span.title-name Pasta Salad
              a.btn-like
                span.icon.icon-like.color
                span You & 134
            .recipe-details
              .recipe-details-item 
                span.icon.icon-time
                span 30mins
              .recipe-details-item
                span.icon.icon-level
                span easy
              .recipe-details-item 
                span.icon.icon-kcal
                span 400kcal
              .recipe-details-item
                span.icon.icon-price
                span $18
          li.recipe-list-item
            .recipe-image(style='background-image: url(../images/pic-rec-02.png);')
            .recipe-cat Dessert
            .recipe-title 
              span.title-name Pancake
              a.btn-like
                span.icon.icon-like.color
                span You & 134
            .recipe-details
              .recipe-details-item 
                span.icon.icon-time
                span 30mins
              .recipe-details-item
                span.icon.icon-level
                span easy
              .recipe-details-item 
                span.icon.icon-kcal
                span 400kcal
              .recipe-details-item
                span.icon.icon-price
                span $18
          li.recipe-list-item
            .recipe-image(style='background-image: url(../images/pic-rec-03.png);')
            .recipe-cat Main Dish
            .recipe-title 
              span.title-name Sour Cream Meat Tacos
              a.btn-like
                span.icon.icon-like.color
                span You & 134
            .recipe-details
              .recipe-details-item 
                span.icon.icon-time
                span 30mins
              .recipe-details-item
                span.icon.icon-level
                span easy
              .recipe-details-item 
                span.icon.icon-kcal
                span 400kcal
              .recipe-details-item
                span.icon.icon-price
                span $18
  include footer.jade
