/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2019, 10:00:25 PM
    Author     : oscaron
*/
html {
  overflow-x: hidden; 
}
body {
  background: #ffffff;
  font-family: 'Quicksand', sans-serif;
  &.login {
    background:url(../images/bg.png); 

  }
}

.header-logo {
  background:url(../images/bg.png); 
  position: relative;
  padding-top:200px;
  padding-bottom: 60px;
  &:after {
    display: table;
    content: "";
    background:url(../images/login-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  span.logo {
    display: block;
    height: 150px;
    background: url(../images/logo.png) ; 
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.login-form {
  padding: 10px 40px;
  fieldset {
    border: none;
  }
  .error-msg {
    display:none;
    span {
      color: #FF0000;
    }
  }
  .form-input {
    position: relative;
    &:after {
      display: table;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      height: 40px;
      width: 30px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &.icon-login {
      &:after {
        background-image: url(../images/icon-login.png) ; 
      }
    }
    &.icon-password {
      &:after {
        background-image: url(../images/icon-password.png) ; 
      }
    }
  }
  .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
    padding-left: 40px;
    font-size: 18px;
    height: 40px;
  }
  .btn-primary {
    background: #F8B601;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    padding: 15px;
    &:active {
      background: #F87B01;
    }
  }
}
.container {

  padding: 100px 0 80px 0;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  border-color: #FFF;
  height: 100px;
  background: #FFF;
  .container {
    padding-top: 0;
    padding-bottom:0;
    .navbar-header {
      margin: 50px 0 0 0;
      width: 100%;
      padding-left: 45px;
      padding-right: 45px;
      button {
        background: none;
        border: none;
        padding:0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.nav-left-action {
  width: 40px; 
  float: left;
  margin-left: -40px;
}
.nav-right-action {
  width: 40px; 
  float: right;
  margin-right: -40px;
}
.nav-title {
  float: left;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  /*  border:1px solid #bababa;
    border-width: 1px 0 0;*/
  height:80px;
  background: #fff;
  box-shadow: 0px 0px 10px #666; 
  .container {
    padding-top: 0;
    padding-bottom:0;
  }
}
.icon {
  display: inline-block; 
  margin: 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20px;
  width: 20px;
  &.icon-arrow-back {
    background-image: url(../images/icon-arrow-back.png) ; 
  }
  &.icon-qr-code {
    background-image: url(../images/icon-qr-code.png) ; 
  }
  &.icon-time {
    background-image: url(../images/icon-time.png) ; 
  }
  &.icon-level {
    background-image: url(../images/icon-level.png) ; 
  }
  &.icon-kcal {
    background-image: url(../images/icon-kcal.png) ; 
  }
  &.icon-price {
    background-image: url(../images/icon-price.png) ; 
  }
  &.icon-time {
    background-image: url(../images/icon-time.png) ; 
  }
  &.icon-like {
    background-image: url(../images/icon-like.png) ; 
    &.color {
      background-image: url(../images/icon-like-color.png) ; 
    }

  }
}
.member {
  display: block;
  clear: both;
  margin: 10px 0;
  padding: 0 15px;
  span.member-name {
    font-weight: bold;
  }
}
.section-wrapper {
  clear: both;
  padding: 0;
}    
.section-title {
  background: #FFBB00;
  height: 32px;
  float: left;
  clear: both;
  position: relative;
  span {
    font-size: 14px;
    float: left;
    display: block;
    width: 100%;
    line-height: 32px;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  &:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 32px solid transparent;
    border-right: 32px solid transparent;
    border-left: 16px solid #FFBB00;
    right: -48px;
    position: absolute;
    top: 0;
  }
  &:after {
    display: table;
    content: "";
    height:0;
    width: 0;
    clear: both;

  }
  &.sub-title {
    background: #EAEAEA;
    height: 24px;

    span {
      font-size: 12px;

      line-height: 24px;
    }
    &:before {
      border-bottom: 24px solid transparent;
      border-right: 24px solid transparent;
      border-left: 12px solid #EAEAEA;
      right: -36px;
    }
  }
}

.section-content {
  padding: 5px 0;
  clear: both;
  font-size: 12px;
  .section-content-desc {
    color: #9E9E9E;
    padding: 0 15px;
  }
  .banner {
    display: block;
    margin: 5px 0;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    &.qr-code {
      background-image: url(../images/banner-qr-code.png) ; 
    }
  }
  &:before, &:after {
    display: table;
    content: "";
    height:0;
    width: 0;
    clear: both;

  }
}
.swiper-container {
  padding-left:15px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.swiper-slide {
  text-align: left;
  font-size: 12px;
  background: #fff;
  width: 55%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 200px;
}
.swiper-slide:nth-child(2n) {
  width: 60%;
}
.swiper-slide:nth-child(3n) {
  width: 40%;
}
.promo-content {
  height:200px;
  width: 100%;
  .promo-image {
    width:200px;
    height:130px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #E8E8E8;
    margin-bottom: 5px;
  }
  .promo-cat  {
    font-size: 11px;
    color: #9E9E9E;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .promo-product{
    font-size: 12px;
    line-height:1;
    span {
      &.promo-product-name{
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      &.promo-product-price{
        font-size: 16px;
        font-weight: 700;
        padding:0 5px;

      }
      &.promo-product-price-org{
        text-decoration: line-through;
      }
      &.promo-product-unit{

      }
    }
  }
  .product-location {
    span.icon.icon-location {

    }
  }


}
ul.recipe-list {
  margin: 0;
  padding: 10px 15px 5px;
  li.recipe-list-item {
    list-style:none;
    padding-bottom:10px;
    clear:both;
    .recipe-image {

      height:130px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid #E8E8E8;
      margin-bottom: 5px;
    }
    .recipe-cat {
      font-size: 11px;
      color: #9E9E9E;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .recipe-title {
      padding-right: 150px;
      clear:both;
      span.title-name {
        font-size: 16px;
      }
      a.btn-like {
        float: right;
        width: 150px;
        text-align: right;
        margin-right: -150px;
        display: block;
        span{
          font-size: 13px;
          display: block;
          color: #4c4c4c;
          line-height: 16px;
          float:right;
          &.icon {
            margin:0 0 0 2px;
            height:14px;
            width:16px;
            line-height: 14px;
          }

        }
      }
    }
    .recipe-details {
      clear:both;
      padding: 5px 0;
      height: 20px;
      .recipe-details-item {
        float: left;
        display: block;
        padding-left: 18px;
        margin-right: 10px;
        span {
          display: block;
          padding: 0 5px;
          line-height: 18px;
          float:left;
          &.icon {
            line-height: 16px;
            display: block;
            padding:0;
            margin:0;
            margin-left: -16px;
            float:left;

            height:16px;
            width:16px;
          }
        }
      }
    }

  }
}

